[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "==2.0.0.dev8"

[requires]
python_version = "3.7"

pygame~=2.1.0
mock~=4.0.3
approvaltests~=3.5.0
